body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/img/background.webp'); /* Replace with your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
}

#name {
    border: none; 
    outline: none;
    /* width: 100%; */
    font-size: 1em;
    color: #333;
    letter-spacing: 0.05em;
    /* font-weight: bolder; */
}

#searchButton {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#profile {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.subtitle {
    color: gray;
    margin: 0;
}

h1 {
    margin: 0;
}

.notes-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Space between note divs */
    width: 100%;
    positon: absolute;
}

.note {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    positon: absolute;
}

.note-title {
    font-weight: bold;
    margin-top: 0;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}

.task-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    height: 100%;
    background-color: rgba(20,24,68,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.user-icon {
    background-image: url('assets/img/avatar.png');
    width: 37px;
    height: 37px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-button {
    width: 37px;
    height: 37px;
    margin: 10px 0;
    background-color: rgba(44,48,87,255);
    color: gray;
    border: none;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-note {
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 72px;
}

.plus-icon {
    font-size: 24px;
    color: black;
}

/* Modal styles */
/* Modal styles */
.add-note {
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 72px;
}

.plus-icon {
    font-size: 24px;
    color: black;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 37px; /* Adjust the width as needed */
    height: 37px; /* Adjust the height as needed */
    margin: 0 13px;
    background-color: #333; /* Optional: background color for better visualization */
    color: #fff; /* Optional: icon color */
    border-radius: 37%; /* Optional: make the icon container circular */
    border: 2px solid black;
}


/*New features*/

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-header i {
    margin-top: -30px;
}

.note-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.completed-label {
    font-weight: bold;
}

.draggable_custom {
  position: relative;
}